<div class="container">
    <section id="page-name">
        <img id="main-image" src="https://media.giphy.com/media/3o7buhm1O1bOJV4ZWM/giphy.gif" frameBorder="0"
            class="giphy-embed" allowFullScreen></img>
        <h1>KING BURGER</h1>
    </section>

    <section class="row">
        <div class="col-md-7 col-left">
            <table>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-5 col-right">
            {{#each burgers}}
            {{#if devoured}}
            <div>{{id}}. {{burger_name}}</div>
            {{/if}}
            {{/each}}
        </div>
    </section>

    <form class="create-form">
        <div class="form-group">
            <label for="name"></label>
            <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="Your way - have it."></textarea>
        </div>
        <button type="submit">Add Burger</button>

    </form>
</div>